:root {
  --system-ui: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



body {
  font-size: 16px;
  font-family: var(--system-ui);
}



#top-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
}

#side-dashboard {
  background-color: rgb(31, 178, 227);
  grid-column: 1;
  grid-row: 1 / -1;
  padding: 30px;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 60px;
  align-content: start;
}

#topbar {
  background-color: lightgreen;
  grid-column: 2;
  grid-row: 1;
}

#main-content {
  background-color: lightgoldenrodyellow;
  grid-column: 2;
  grid-row: 2;
}


#dashboard-logo, #dashboard-navigation, #dashboard-settings {
  display: grid;
  row-gap: 20px;
}

#dashboard-navigation {
  grid-template-rows: repeat(6, 1fr);
}

#dashboard-settings {
  grid-template-rows: repeat(3, 1fr);
}


.dash-option-container, .dash-header-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  justify-items: left;
}

.dash-option-img, .dash-header-img {
  grid-column: 1;
  place-self: center;
  width: 20px;
  height: 20px;
}

.dash-option-link, .dash-header-link {
  grid-column: 2;
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.dash-header-link {
  font-size: 30px;
}

